.nos-online__activities-card {
    &-container {
        &-main-root {
            background-color:#4D86F4;
            width: 210px;
            height: 162px;
            border-radius: 10px;
            opacity: 1;
        }
        &-image {
            // width: 365px;
            // height: 562px;
            background-color: white;
            margin-top: 5%;
            margin-right: 70%;
            border-radius: 6px;
            width: 20%;
        }
        &-image-header {
            color: white;
            margin-right:40% ;
            margin-top: 10px;
        }
        &-image-text{
            color: white;
            margin-left: 63%;
        }
       
    }
}