.nos-online__student-home {
    &-container {
        &-main {
            top: 144px;
            left: 156px;
            width: 537px;
            height: 130px;
            opacity: 0.96;
            background-color: #4D86F4;
            border-radius: 15px;
        }

        &-bg {
            width: 183px;
            height: 130px;
            margin-right: 66%;
        }
        &-card-inner {
            display: flex;
            flex-direction: row;
        }
        &-arrow {
            margin-top: 95%;
            margin-left: 88%;
        }
        &-round {
            width: 34px;
            height: 33px;
            background-color:#4D86F4;
            border-radius: 50%;
            border:2px solid white;
            align-content: center;
            margin-top: 16%;
            margin-right: 9px;
        }
    }
}