.nos-online__conference-section {
    &-container {
        &-conference-container {
            width: 100%;
            height: 740px;
            background-color: #EDF0F5;
            opacity: 1;
        }
        
    }
}