.nos-online__menuside-bar {
&-container {
    &-main-container{
        width: 100%;
        height: 49.2rem;
        background: #EDF0F5 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    &-sidemenu-components {
        width: 76px;
        height: 688px;
        background: var(--unnamed-color-4d86f4) 0% 0% no-repeat padding-box;
        background: #4D86F4 0% 0% no-repeat padding-box;
        opacity: 1;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-top: 0px;

    }
}
}