.nos-online__leftmenu {
    &-container {
        &-root-container {
            width: 310px;
            height: 688px;
            background: var(--unnamed-color-437cea) 0% 0% no-repeat padding-box;
            background: #437CEA 0% 0% no-repeat padding-box;
            border-radius: 0px 30px 0px 0px;
            opacity: 1;
        }
        &-imageBg{
            width:87%;
            margin-top: 30%;
            height: 20%;
        }
        &-image-display {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            color: white;

        }
    }
}