.nos-online__ratings {
    &-container {
        &-root {
            background-color:#EDF0F5;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 740px;
            opacity: 1;
            justify-items: center;
            padding: 20px 20px 10px 20px;
        }
        &-leftBar {
            // margin-top: 100px;
            left: 60px;
            width: 90px;
            height: 43rem;
            background: var(--unnamed-color-4d86f4) 0% 0% no-repeat padding-box;
            background: #4D86F4 0% 0% no-repeat padding-box;
            opacity: 1;
            border-top-left-radius: 15%;
            border-bottom-left-radius: 15%;
        }
        &-icon-container{
            padding-top: 5rem;
        }

        &-icons {
            width: 40px;
            height: 65px;
        }
        &-surface-icon {
            width: 40px;
            height: 55px;
        }
        &-logout {
            margin-top: 3rem;
            width: 40px;
            height: 50px;
        }
        &-user-icon {
            width: 60px;
            height: 80px;
        }
        &-home-container {
                display: flex;
                flex-direction: row;
        }
        &-right-container {
            width: 373px;
            height: 43rem;
            background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 0px 30px 30px 0px;
            opacity: 1;
            margin-left:5%;
        }

        &-card-middle{
            width: 350px;
            height: 43rem;
            opacity: 1;
        }
        &-publication {
            align-content: flex-start;
            margin-right: 50%;
            margin-top: 10%;
        }
        &-publication-list {
            background-color: #B0BED7;
                width: 34px;
                height: 33px;
                border-radius: 50%;
                border:2px solid white;
                align-content: center;
                margin-right: 9px;
                justify-content: center;
            
        }

        &-content{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 5%;

        }
        &-anadir {
            width: 118px;
            height: 42px;
            background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
            border: 1px solid var(--unnamed-color-657596);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #657596;
            border-radius: 5px;
            opacity: 1;
            margin-right: 40%;
        }
        &-avatar {
            display: flex;
            flex-direction: row;
        }
        &-avatar1 {
            display: flex;
            flex-direction: row;
            margin-left: 5%;
        }
        &-print {
            width: 180px;
            height: 40px;
            background: var(--unnamed-color-4d86f4) 0% 0% no-repeat padding-box;
            background: #4D86F4 0% 0% no-repeat padding-box;
            border-radius: 10px;
            opacity: 1;
            border: none;
            color: white;
            
        }

        &-send-mail{
            width: 260px;
            height: 40px;
            background: var(--unnamed-color-4d86f4) 0% 0% no-repeat padding-box;
            background: #4D86F4 0% 0% no-repeat padding-box;
            border-radius: 10px;
            opacity: 1;
            border: none;
            color:white;
        }
        &-modal-container{
            width: 1304px;
            height: 862px;
            border: 1px solid var(--unnamed-color-707070);
            border: 1px solid #707070;
            opacity: 1;
            background-color: blue;
        }
        &-send-button {
            width: 158px;
            height: 45px;
            background: var(--unnamed-color-4d86f4) 0% 0% no-repeat padding-box;
            background: #4D86F4 0% 0% no-repeat padding-box;
            border-radius: 10px;
            opacity: 1;
            border:none;
            color: white;
        }
        &-input-field {
            width: 466px;
            height: 39px;
            background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
            border: 2px solid var(--unnamed-color-b0bed7);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #B0BED7;
            opacity: 1;
        }

       
    }
}