/* .ant-layout-sider-children {
    background: #4D86F4;
} */
.gx-layout-sider-dark {
    background-color: #4d86f4!important;
    color: #ffffff;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    color: #ffffff!important;
    background: inherit!important;
}
.innerside2 {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 31%;
}

.innerside2 li {
    width: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 1px;
    margin: 9px 0px;
}

.innerside2 ul {
    padding: 0;
    list-style: none;
}
.innerside2 img {
    width: 35px;
    height: 35px;
}
.innerside2 li.active {
    background: #333;
    border-radius: 0px 50px 50px 0px;
    margin-right: 3px;
}
.btnimg3 img {
    margin-bottom: 15px;
}
.gx-layout-sider-scrollbar div {
    overflow-x: hidden!important;
}















