.gx-chat-item .gx-bubble {
    border-radius: 50px;
    background: #dbe2ef;
}
.gx-chat-item.gx-flex-row-reverse .gx-bubble {
       border-radius: 50px;
    background: #38a9ff;
    color: #fff;
}
/*.gx-time.gx-text-muted.gx-text-right.gx-mt-2 {
    color: #fff!important;
}
.gx-chat-item .gx-bubble .gx-time.gx-text-muted.gx-text-right.gx-mt-2 {
	color: #545454 !important;
}*/
.gx-chat-main-content {
    background: #fff;
    height: 100%;
}
.gx-chat-box .gx-chat-item.gx-flex-row-reverse > .gx-time.gx-text-muted.gx-text-right.gx-mt-2{
	color: #fff!important;
}
.gx-chat-box .gx-chat-item.gx-flex-row-reverse .gx-time.gx-text-muted.gx-text-right.gx-mt-2 {
    color: #fff!important;
}
.gx-chat-box .gx-chat-item {
    padding: 7px 11px;
}
.gx-form-group textarea#required {
    resize: none;
}

.gx-chat-main-footer .gx-form-group .ant-input:focus {
    border-color: #28aaeb;
    border-right-width: 1px !important;
    box-shadow: 0 0 0 2px rgb(3 143 222 / 0%);
}
.gx-chat-box .gx-chat-main-content .gx-text-right {
    font-size: 11px;
}
.gx-chat-box .gx-chat-list-scroll > div:first-child {
    overflow-y: scroll !important;
    overflow-x: hidden!important;
    background: #fff;
}
@media screen and (max-width: 1199px){
    .gx-chat-list-scroll {
       height: calc(100vh - 134px) !important;

}

}
.gx-chat-list-scroll {
    height: calc(120vh - 268px) !important;
}

.gx-chat-search-wrapper.cht7x {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/*.gx-chatxd {
    width: 20%;
    float: left;
    }

.gx-serchbta {
    width: 80%;
    float: left;
}*/
.gx-chat-main-footer {
    border-top: inherit;
}
.gx-search-bar.gx-chat-search-bar.gx-lt-icon-search-bar-lg {
    width: 80%;
    float: left;
}
h2.gx-chatxd {
    width: 20%;
    float: left;
    background: #fff;
    margin: 0;
    padding: 7px 30px;
    font-size: 15px;
    padding-right: 0px;
}
.gx-serchbta {
    width: 100%;
    float: left;
    background: #fff;
    border-bottom: 1px solid #d9e1ed;
    padding: 9px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.gx-layout-sider-scrollbar {
    overflow-y: scroll !important;
    overflow-x: hidden!important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #ffffff!important;
    border-radius: 0px 95px 95px 0px;
    padding: 0px!important;
    margin-right: 6px;
}
li.ant-menu-item.ant-menu-item-selected{
     background-color: #ffffff!important;
    border-radius: 0px 95px 95px 0px;
    padding: 0px!important;
    margin-right: 6px;
}
.gx-flex-row.gx-align-items-center {
    border: initial!important;
}
.gx-chat-main-footer .gx-flex-row.gx-align-items-center {
    border: 2px solid #ced8e8!important;
    border-radius: 7px;
}
.gx-mini-custom-sidebar .gx-layout-sider-scrollbar {
    height: calc(109vh - 278px) !important;
}

.gx-sidebar-notifications {
    padding: 30px 4px 9px;
    margin: 0 20px 10px;
        border-bottom: inherit;

}
.gx-chat-box {
    background: #fff;
}
/*.ant-avatar.gx-size-40 > * {
    line-height: 40px;
    border: 2px solid #fff;
    border-radius: 50px;
}
*/

.btnimg3 {
    margin-bottom: 17px;
}