.wrtPosttec {
    background: #F6F9FD;
    width: 100%;
    float: left;
    padding: 3% 3%;
    overflow-y: scroll;
    height: 100vmax;
}
.wrboz {
    background: #fff;
    border-radius: 15px;
    border: 1px solid #DBE2EF;
    width: 100%;
    float: left;
        box-shadow: 1px 7px 7px #DBE2EF;
}
.textase2 {
    width: 100%;
    float: left;
}
.textase2 textarea#txtarea {
    width: 100%;
    float: left;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 12px 18px;
    color: #B0BED7;
    resize: none;
}
.wrtPosttec1 {
    width: 100%;
    float: left;
}
.textase2 textarea::placeholder{
	color: #B0BED7;
}
.textase2 textarea:focus {
	 border: 1px solid #fff!important;
	 outline: none;
}
.txtareabtnPart {
    float: left;
    width: 100%;
    display: flex;
    border-top: 1px solid #ebeff6;
    padding: 15px 14px;
}
.textbtnleft2 {
    width: 80%;
    float: left;
    display: flex;
}
.textRgt2 {
    float: left;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
a.tchaddbtn0 {
    border: 1px solid #657596;
    border-radius: 5px;
    margin-right: 4%;
        padding: 7px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #657596;
}
a.tchaddbtn0 img {
    width: 18px;
    margin-right: 6px;
}
a.tchpostbtn0 img {
    width: 18px;
    margin-right: 6px;
}
a.tchpostbtn0 {
    border: 1px solid #4D86F4;
    border-radius: 5px;
    padding: 7px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #4D86F4;
        font-size: 14px;
}
.techHomepricl {
    width: 100%;
    float: left;
    background: #fff;
    box-shadow: 1px 7px 7px #DBE2EF;
    border: 1px solid #DBE2EF;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    position: relative;
}
.pricilMain {
    float: left;
    width: 100%;
}

.priciName1 {
    float: left;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.pricileft2 {
    width: 90%;
    float: left;
    padding: 20px 20px;
}
.priciProfl {
    float: left;
    width: 8%;
}
.priciName1 h4 {
    margin: 0;
    font-size: 20px;
    color: #39507C;
}
p.priciTime1 {
    margin: 0;
    padding: 0;
    color: #7287B0;
    font-size: 11px;
}
span.redTechbtn {
    background: #FF5E3A;
    color: #fff;
    border-radius: 2px;
    font-size: 10px;
    padding: 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pricirgt2 {
    float: left;
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.pricirgt2 span {
    padding: 0px 9px;
    font-size: 28px;
    color: #B0BED7;
    padding-left: 2px;
}
.secondParativ {
    float: left;
    width: 100%;
    padding: 0px 15px;
}
.secondParativ h4 {
    color: #39507C;
    font-size: 24px;
    text-align: left;
    margin: 0;
}
.secondParativ p {
    color: #657596;
    font-size: 16px;
    line-height: 25px;
    padding: 0;
    margin-bottom: 0;
}
.busin1d {
    width: 100%;
    float: left;
    /* border: 1px solid #B0BED7; */
    /* border-radius: 5px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:15px 15px;
}
.busin1d a {
    border: 1px solid #B0BED7;
    border-radius: 5px;
    width: 35%;
    float: left;
}
.buzleft1 {
    float: left;
    width: 20%;
}
.buzleft1 {
    float: left;
    width: 33%;
}
.buzleft1 img {
    width: 100%;
    padding: 2px 1px;
}
.buzrgt {
    float: left;
    width: 67%;
    padding: 11px 10px;
}
.buzrgt p {
    color: #39507C;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.buzrgt span {
    color: #7287B0;
    font-size: 12px;
}
.liksIcons3 {
    float: left;
    width: 100%;
    display: flex;
    padding: 5px 15px;
}
p.like2 span {
    color: #B0BED7;
    font-size: 16px;
    margin-right: 17px;
}
p.like3 span {
    color: #B0BED7;
    font-size: 16px;
    margin-right: 17px;
}
p.like2 img {
    width: 29px;
    height: 25px;
}
.jabmbox0 {
    float: left;
    width: 100%;
    border-top: 1px solid #ebeff6;
}
.jabmbox0 .pricileft2 {
    width: 100%;
    float: left;
}
.jabmbox0 .priciProfl {
    width: 7%;
}
.jabmbox0 .secondParativ {
    padding: 0 7%;
    padding-right: 0;
}
.jabmbox0 .liksIcons3 {
	 padding: 0 7%;
    padding-right: 0;
}
.jabmbox0 .secondParativ p{
	font-size: 14px;
}
.thirdpart3 {
    float: left;
    background: #fff;
    width: 100%;
    border-radius: 15px;
    box-shadow: 1px 7px 7px #DBE2EF;
    border: 1px solid #DBE2EF;
}
.publictinsrgt {
    float: left;
    width: 100%;
    background: #fff;
    height: 100%;
    padding: 2% 1%;
    position: fixed;
    padding-right: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.publictinsrgt ul.ant-timeline {
    overflow-y: scroll;
    position: absolute;
    width: 19%;
    width: 291px;
    float: left;
}
.home2tech {
    background: #fff;
    width: 100%;
    float: left;
    height: 100%;

}
.publictinsrgt h3 {
    color: #39507C;
    font-size: 20px;
    line-height: 30px;
}
.hmeFooter2 .txtareabtnPart {
	border: none;
}
.hmeFooter2 {
    float: left;
    width: 100%;
        border-top: 1px solid #ebeff6;
}
.hmeFooter2 .form0te .ant-input {
    background-color: #fff;
    border: 1px solid #DBE2EF!important;
    margin-top: 8px;
    border-radius: 5px;
}
.hmeFooter2 .ant-row.ant-form-item.form0te {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hmeFooter2 a.tchaddbtn0 {
    border: none;
    padding: 0;
    margin-right: 1%;
}

 /*==========start presentation css===========*/

 .presentationPage1 {
    width: 100%;
    float: left;
    background: #fff;
    height: 100%;
    padding: 0px 23px;
    padding-bottom: 20px;
}
.createneHeding {
    width: 100%;
    float: left;
    border-bottom: 1px solid rgb(235 239 246);
}
.ct-heding p {
    color: #657596;
    font-size: 20px;
    line-height: 30px;
    margin-top: 3%;
}
.prefrmkij {
    float: left;
    width: 100%;
}
.ct-heding {
    float: left;
    width: 90%;
    margin-bottom: 10px;
}
.ct-ptag {
    width: 10%;
    float: left;
    display: flex;
    justify-content: flex-end;
}
.prefrmkij {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.innerprestin {
    width: 47%;
    float: left;
    padding: 5% 0%;
}
.ant-switch-checked {
    background-color: #00D53A;
}
.ant-row.ant-form-item.toggle0btn .ant-col.ant-col-8.ant-form-item-label {
    display: flex;
    justify-content: flex-start;
}
.ant-row.ant-form-item.toggle0btn .ant-col.ant-col-16.ant-form-item-control-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 42px;
}
.innerprestin .ant-form label {
    font-size: 16px;
    color: #657596;
    line-height: 25px;
    padding-bottom: 5px;
    width: 100%;
    float: left;
}
.innerprestin input.ant-input {
    border-radius: 0px;
    border-color: #B0BED7;
    width: 100%;
    float: left;
}
.innerprestin textarea.ant-input {
    width: 100%;
    float: left;
    border-radius: 0px!important;
    border-color: #B0BED7;
}
.toggle0btn .ant-col.ant-col-8.ant-form-item-label label {
    width: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.toggle0btn  .ant-switch-checked {
    background-color: #00D53A;
}
.ant-row.ant-form-item.btnCnlnt {
    display: flex;
    width: 100%;
    float: left;
    justify-content: flex-end;
    align-items: flex-end;
}
.btnCnlnt .ant-col.ant-form-item-control-wrapper.ant-col-sm-24 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    float: left;
}
.btnCnlnt  button.ant-btn.ant-btn-primary {
    background: #DBE2EF!important;
    border: 1px solid #DBE2EF!important;
    color: #7287B0!important;
    border-radius: 10px!important;
}
.btnCnlnt button.ant-btn.nectbtn0.ant-btn-primary{
    background: #4D86F4!important;
    border: 1px solid #4D86F4!important;
    color: #fff!important;
    border-radius: 10px!important;
}
.toggle0btn .ant-switch {
    min-width: 60px;
    height: 32px;
}
.toggle0btn .ant-switch-loading-icon, .ant-switch::after {
    width: 28px;
    height: 28px;
}

.blackqiz {
    width: 100%;
    float: left;
    border: 1px solid #f3f3f5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
.blkq1 {
    width: 15%;
    float: left;
}
.quizpara {
    width: 75%;
    float: left;
    padding: 7px 11px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}
.crosssign7 {
    width: 10%;
    float: left;
}
.blkq1 img {
    border-radius: 10px;
    width: 98%;
}
.quizpara h3 {
    color: #3d78d8;
    font-size: 17px;
    margin-bottom: 2px;
}
.quizpara p {
    margin: 0;
    font-size: 12px;
}
.crosssign7 span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    float: left;
    height: 100%;
    font-size: 18px;
}
.quizpara a {
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 8px;
    color: #656167;
}
.btn3d4 {
    float: left;
    display: flex;
    width: 100%;
    margin-top: 30px;
}
.pros3{
    float: left;
    width: 100%;
}
.textbar3{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#39507C;
}
.pros3 .ant-progress-success-bg, .ant-progress-bg {
    background-color: #437cea;
    border-radius: 100px;
    border-radius: 0px!important;
    height: 22px!important;
}
.pros3 .ant-progress-inner {
    background-color: #bed4ff!important;
    border-radius: 0px;
}
.textbar3 p, .textbar3 span{
    margin: 0;
    color: #39507C;
    font-size:20px;
}
.playbtn9m{
    float: left;
    width: 100%;

}
.playbtn9m button {
    background: transparent;
    border: 1px solid #657596;
    border-radius: 5px;
    padding: 6px 22px;
    width: 100%;
    font-size: 16px;
}
.slider02g textarea {
    height: 219px;
}
.slider02g {
    float: left;
    width: 100%;
}
.sliderpt1next {
    float: left;
    width: 100%;
}
.slider01g {
    float: left;
    width: 100%;
    padding: 10px 24px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}  
.textRgt6 {
    float: left;
    width: 20%;
}
.textRgt6 a.tchpostbtn0 {
    border: 1px solid #657596;
    border-radius: 5px;
    padding: 7px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #657596;
    background: transparent;
    font-size: 14px;
}
.textbtnlj72 {
    width: 80%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.textbtnlj72  a.tchaddbtn1 {
    background: #F3F5F9;
    border: 1px solid #f3f5f9;
    border-radius: 5px;
    padding: 7px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7e91b7;
    background: #F3F5F9;
    font-size: 14px;
    margin-right: 15px;
}
.textbtnlj72  a.tchaddbtn0 {
    border: 1px solid #4d86f4;
    border-radius: 5px;
    margin-right: 0;
    padding: 7px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #4D86F4;
}
.textbtnlj72  a.tchaddbtn1 img {
    width: 18px;
    margin-right: 6px;
}
.priuxdd {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}



 /*===========end presentation css===========*/


/*===========start Exam css===========*/
.cardtimedrw {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.middlcolm {
    width: 70%;
    float: left;
}
.caerdrow1 {
    background: #FBFDFF;
    width: 100%;
    float: left;
}
.caerdrow1 {
    background: #FBFDFF;
    width: 100%;
    float: left;
    border: 1px solid #BED4FF;
    border-radius: 5px;
    padding: 4% 10%;
    margin-top: 3%;
}
.ex-paracard h4 {
    color: #657596;
    font-size: 16px;
    line-height: 25px;
}
.ex-paracard p {
    color: #A3AFC5;
    font-size: 12px;
    line-height: 18px;
}
span.ex-paracard {
    width: 100%;
    float: left;
    margin-bottom: 3%;
}
.caerdrow2 {
    background: #FBFDFF;
    width: 100%;
    float: left;
    border: 1px solid #BED4FF;
    border-radius: 5px;
    padding: 4% 3%;
    margin-top: 2%;
}
.ex-iconLeft img {
    width: 60%;
}
.ex-iconLeft {
    width: 100%;
    float: left;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.radiobtn1d {
    width: 100%;
    float: left;
}
.radiobtn1d  .ant-row.ant-form-item {
    margin: 0;
}
.radiobtn1d  .ant-radio-inner::after {
    background-color: #8391ab!important;
}
.radiobtn1d  .ant-radio-checked::after {
    border: 1px solid #8391ab!important;
    border-radius: 50%;
}
.radiobtn1d  .ant-radio-checked .ant-radio-inner {
    border-color: #8391ab!important;
}
.radiobtn1d  .ant-radio-wrapper {
    color: #A3AFC5;
    line-height: 25px;
    font-size: 16px;
}
.radiobtn1d  .ant-radio-inner {
    background-color: #FBFDFF;
    border-color: #A3AFC5;
}
.radiobtn1d  .ant-form-item-control {
    line-height: 25px;
    font-size: 16px;
}
.caerdrow2 span.ex-paracard {
    border-bottom: none;
    margin: 0;
}
span.ex-paracard1 .ant-col.ant-form-item-control-wrapper.ant-col-sm-24 {
    padding: 0px;
}
span.ex-paracard1 {
    width: 100%;
    float: left;
}
.ex-paracard1 .ant-checkbox-wrapper {
    color: #A3AFC5;
    line-height: 25px;
    font-size: 16px;
}
.ex-paracard1 .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #a5b3cd;
    border-color: #a5b3cd;
}
.ex-paracard1 .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #a5b3cd;
}

h4.ex-heading {
    color: #657596;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    letter-spacing: 0.6px;
}
p.ex-para1 {
    color: #A3AFC5;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.36px;
}
.line-btm {
    border-bottom: 1px solid #d5ddeb;
    margin: 6px 0px;
    width: 100%;
    float: left;
}
.radiobtn1d .ant-checkbox-inner {
    background-color: #fbfdff;
    border: 1px solid #a5b3cd;
    border-radius: 4px;
    border-collapse: separate;
}
.disHg {
    width: 100%;
    float: left;
}
.exm-hdig {
    width: 65%;
    float: left;
}
.wxm-dropg {
    width: 35%;
    float: left;
    padding-left: 2%;
}
.exm-hdig h3 {
    border: 1px solid #C1CDE2;
    padding: 14px 16px;
    color: #8a97b0;
    font-size: 16px;
}
.wxm-dropg a.ant-dropdown-link.ant-dropdown-trigger {
    border: 1px solid #C1CDE2;
    width: 100%;
    float: left;
    height: 100%;
}
.dropbtn9j {
    width: 100%;
    float: left;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    color: #7786a3;
}

.menuicons4 li.ant-dropdown-menu-item {
    line-height: 0px;
    padding: 1px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuicons4 li.ant-dropdown-menu-item a {
    width: 100%;
    float: left;
    padding: 0;
}
input.ant-input.addicmng {
    border: none;
    background: initial;
    width: 10%;
    border-bottom: 1px solid #d3dbea;
    border-radius: 0;
    padding: 1px 5px;
    height: 19px;
    font-size: 16px;
    color: #7287B0;
}
.checksyf .ant-input:focus {
    border-color: #d3dbea;
    border-right-width: 1px !important;
    box-shadow: inherit;
}
.checksyf {
    width: 100%;
    float: left;
}
.exm-btmd {
    width: 100%;
    float: left;
}
.exm-btmOne {
    width: 50%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.exm-btmTwo{
    width: 50%;
    float: left;
    display: flex;
}
.exm-btmOne p{
    margin: 0;
}
.exm-btmOne  a {
    padding: 0;
    margin: 0;
    margin-left: 15px;
    font-size: 16px;
    color: #657596;
    text-decoration: underline;
}
.exm-btmTwo {
    width: 50%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.exm-btmTwo img {
    margin-left: 3%;
}
.btnBtom {
    width: 100%;
    float: left;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menuicons4 .dropbtn9j{
    padding: 8px 8px;
}
.dropbtn9j p {
    margin: 0;
}

 /*===========end Exam css===========*/

 /*===========start group css===========*/
 .pricirgt2.crn1 {
    position: relative;
}
.pricirgt2.crn1 a.priciarrrow, .pricirgt2.crn1  a.priciarrrow img{
    position: relative;
}
.pricirgt2.crn1 span {
    position: absolute;
    left: 0;
    text-align: center;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 21px;
    bottom: 0;
    font-size: 19px;
    color: #fff;
}
span.blueTechbtn {
    background: #38a7fc;
    color: #fff;
    border-radius: 2px;
    font-size: 10px;
    padding: 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    margin-top: 5px;
}
ul.flexlineo3 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.profiles3 {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 2%;
}
ul.flexlineo3 li {
    width: 2.5rem;
    position: relative;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
    overflow: visible;
}
/* .rounded-full1 {
    width: 3rem;
    height: 3rem;
    border-width: 2px;
    border-radius: 9999px;
    background-size: cover;
    background-position: center;

}
.rounded-full1 img {
    width: 40px;
    height: 40px;
    border-width: 2px;
    border-radius: 9999px;
    background-size: cover;
    background-position: center;
} */
.rounded-full1 img {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    position: relative;
    border-radius: 100px;
}
.rounded-ful2 img {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 1px solid #fff;
    right: 20px;
    border-radius: 100px;
}
.rounded-full3 img {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 100px;
    right: 38px;
}
.rounded-full4 img {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 100px;
    right: 55px;
}
.rounded-full5 img {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 100px;
    right: 70px;
}
.profiles3 p {
    margin: 0;
}
.jabmbox2 .secondParativ {
    padding: 0 8%;
    padding-right: 0;
}
.jabmbox2 .busin1d {
    padding: 0 9%;
}
.jabmbox2 .secondParativ p {
    font-size: 14px;
    line-height: 21px;
}
.jabmbox2 {
    width: 100%;
    float: left;
}
.wrtPosttec2  .liksIcons3 {
    padding: 0% 2%;
}
.wrtPosttec2 {
    width: 100%;
    float: left;
}
.jabmbox2 .pricileft2 {
    padding-bottom: 5px;
    padding: 0px 20px;
}
.jabmbox2 .liksIcons3 {
    padding: 0% 9%;
    margin-top: 10px;
    width: 100%;
    float: left;
}
.profiles3 p {
    margin: 0;
    position: absolute;
    left: 15%;
}
.wrtPosttec2 .techHomepricl {
    padding-bottom: 1%;
}
.jabmbox2 .busin1d a {
    width: 37%;
}
.gropBtn button {
    border: 1px solid #4D86F4;
    border-radius: 10px;
    padding: 21px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #4D86F4;
    font-size: 18px;
    line-height: 27px;
    width: 85%;
    float: left;
    margin-left: 8%;
}
.lftSidebrgruop {
    overflow-y: scroll;
    position: absolute;
    width: 19%;
    width: 291px;
    float: left;
    padding-right: 1%;
    display: inline-table;
}
.sidegrp1 {
    width: 100%;
    float: left;
}
.gropBtn {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.gropBtn img {
    margin-right: 5%;
}
.line-btm0 {
    float: left;
    width: 96%;
    border-bottom: 2px solid #e9edf5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0px;   
}
.gpsleft2 {
    width: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2%;
}
.gp-Img {
    width: 15%;
    float: left;
}
.gp-paras {
    width: 85%;
    float: left;
    padding: 0% 4%;
}
h4.gphging1 {
    color: #39507C;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
}
p.gp_para2 {
    color: #657596;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}
.gp-Img1{
    width: 15%;
    float: left;
}
h4.ex-heading1 {
    color: #657596;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    letter-spacing: 0.6px;
    margin-top: 10% ;
}
.gp-Img1 img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.gropBtn .ant-btn:hover, .gropBtn .ant-btn:focus {
    color: #fff;
    background-color:#28aaeb;
    border-color: #28aaeb;
}
.rightside2 {
    width: 80%;
    float: left;
    /* margin-left: 19%; */
}
.leftSidebr {
    width: 20%;
    float: left;
} 
.leftsidebar2{
	width:6%;
	float: left;
}
.rightside2sidebar {
    width: 94%;
    float: left;
}
.textRgt2 a:hover {
    color: #fff;
}
span.perTechbtn {
    background: #7c5ac1;
    font-size: 10px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.4px;
    padding: 1px 4px;
}
/*===== start Collaboration=====*/


input.ant-input.frmcollbortin {
    border: 1px solid #B0BED7;
    border-radius: 0px;
    margin-bottom: 6%;
}
.btnCollbortin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    float: left;
    width: 150px;
}
.moglCollbtion {
    width: 100%;
    padding: 1% 3%;
}
.moglCollbtion .ant-row.ant-form-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}
.btnCollbortin button.ant-btn.ant-btn-primary {
    border: 1px solid #4D86F4;
    border-radius: 10px;
    padding: 21px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #4D86F4;
    font-size: 18px;
    line-height: 27px;
    width: 100%;
    float: left;
    margin-right: 8%;
}
.btnCollbortin img {
    margin-right: 8%;
    width: 20px;
}
label.lbl3 {
    font-size: 16px!important;
    color: #657596!important;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-left: 4%!important;
}

/*===== End Collaboration=====*/

div#rcDialogTitle3 {
    color: #657596;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.6px;
}

h4.hdingCons {
    color: #39507C;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    float: left;
    margin-top: 3%;
}
.joins1 {
    background: #fff;
    box-shadow: 1px 7px 7px #DBE2EF;
    border: 1px solid #DBE2EF;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
    position: relative;
    width: 100%;
    float: left;
    padding: 4px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jn-prof {
    width: 10%;
    float: left;
}
.jn-hding {
    float: left;
    width: 75%;
}
.jn-btn1 {
    float: left;
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.jn-hding h4 {
    color: #39507C;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}
.jn-hding p{
    color: #7287B0;
    font-size: 11px;
    line-height: 17px;
    margin: 0;
}
span.livetg {
    background: #08ddc1;
    color: #fff;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.4px;
    padding: 1px 4px;
}
.jn-btn1 button {
    background: #4D86F4;
    border-color: #4D86F4;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    line-height: 21px;
    padding: 5px 34px;
    border: 1px solid #4D86F4;
    margin-right: 10px;
}
span.ant-dropdown-trigger {
    font-size: 29px;
    color: #B0BED7;
}
.jn-btn2 button {
    background: #4D86F4;
    border-color: #4D86F4;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    line-height: 21px;
    padding: 5px 34px;
    border: 1px solid #4D86F4;
    margin-right: 10px;
    opacity: 50%;
}
.lftSidebrgruop.fde4 ul.ant-timeline {
    width: 100%;
    float: left;
    overflow-y: initial;
    position: initial;
    margin-top: 8%;
}
.jn-btn2 {
    float: left;
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.moglCollbtion span.datw2.ant-calendar-picker {
 
    margin: 0px 15px;
    width: 93%;
    margin-bottom: 4% ;
}
input.ant-calendar-picker-input.ant-input {
    float: left;
    width: 100%;
    border: 1px solid #B0BED7;
    border-radius: 0px;
    /* margin-bottom: 6%; */
}
h4.rg-heading3{
    color: #39507C;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    letter-spacing: 0px;
}
.rg-texth p {
    color: #7287B0;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}
.rg-allr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
.rg-texth1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    float: left;
}
.rg-texth1 p {
    color: #7287B0;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}
.rg-img img {
    width: 90px;
    height: auto;
    border-radius: 100px;
}
.rg-texth1 img {
    margin-left: 10px;
}
.califlitgind p {
    color: #39507C;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
}
.califlitgind h3 {
    color: #39507C;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.tbleSec2 table {
    background: #fff;
    box-shadow: 1px 7px 7px #DBE2EF;
    border: 1px solid #DBE2EF;
    border-radius: 15px;
}
.tbleSec2 table .ant-table-thead > tr > th {
    color: #535353;
    background: #ffffff;
    border-bottom: 1px solid #e8e8e8;
}
.gropBtnv button {
    border: 1px solid #4D86F4;
    border-radius: 10px;
    padding: 21px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #4D86F4;
    font-size: 18px;
    line-height: 27px;
    width: auto;
    float: left;
    margin-right: 8%;
}
.gropBtnv {
    width: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.gropBtnv img {
    margin-right: 5%;
}
.imgtbl img {
    padding: 1px;
    box-shadow: 1px 3px 5px #DBE2EF;
    border: 1px solid #DBE2EF;
    border-radius: 100px;
    width: 50px;
}
.imgtbl span {
    color: #657596;
    letter-spacing: 0.48px;
    font-size: 16px;
    line-height: 25px;
}
span.numbell {
    height: 23px;
    width: 23px;
    background-color: transparent;
    border-radius: 20px;
    color: #A3AFC5;
    text-align: center;
    position: absolute;
    bottom: 18px;
    border: 1px solid #A3AFC5;
    left: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ibell1 {
    position: relative;
}
.footertb1 p {
    margin: 0;
    font-size: 18px;
    color: #657596;
    line-height: 27px;
    letter-spacing: 0.54px;
}
.plasticheading h4 {
    font-size: 26px;
    color: #39507C;
    line-height: 39px;
    text-align: left;
}
.ex-paracard-01 h4{
    color: #657596;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.48px;
}
.ex-paracard-01 p {
    color: #A3AFC5;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.36px;
    margin: 0px;
}
.ex-paracard-02 h4{
    color: #657596;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.6px;
}
.ex-paracard-02 p {
    color: #A3AFC5;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.36px;
    margin: 0px;
}
.line-btm2 {
    border-bottom: 2px solid #B0BED7;
    margin: 7px 0px;
    width: 100%;
    float: left;
}
.caerdrow-rg {
    background: #FBFDFF;
    width: 100%;
    float: left;
    border: 1px solid #BED4FF;
    border-radius: 5px;
    padding: 4% 10%;
    margin-top: 3%;
    padding-right: 4%;
}
.rg-iconLeft {
    width: 100%;
    float: left;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.rg-iconLeft img{
    width: 100%;
}
.radiobtn1d .ant-radio-wrapper {
    color: #A3AFC5;
    line-height: 25px;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.progMd2 {
    width: 100%;
    float: left;
}
.progMd2 h4 {
    font-size: 26px;
    color: #39507C;
    line-height: 39px;
    margin: 0;
}
.progMd2 p{
    color: #39507C;
    font-size: 20px;
    line-height: 30px;
}
.accordionBox {
    background: #fff;
    border-radius: 15px;
    border: 1px solid #DBE2EF;
    width: 100%;
    float: left;
    box-shadow: 1px 7px 7px #DBE2EF;
    padding: 15px 15px;
}
.colapses0 {
    width: 100%;
    /* float: left; */
    text-align: end;
}
.colapses0 p{
    color: #8095C0;
    line-height: 21px;
    font-size: 14px;
    text-decoration: underline;
}
p.para-progm {
    color: #7287B0;
    font-size: 16px;
    line-height: 25px;
}
a.accortnbtn1 {
    border: 1px solid #657596;
    border-radius: 5px;
    margin-right: 4%;
    padding: 7px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #657596;
}
.accortnbtn1 {
    width: 100%;
    float: left;
    /* display: flex; */
}
.acorn7jn {
    width: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.acorn7jn p {
    margin: 0;
    color: #657596;
    font-size: 16px;
    margin-left: 11px;
    line-height: 27px;
}

.acorn7btm {
    width: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 30px;
}
.acorn7btm p {
    margin: 0;
    color: #657596;
    font-size: 16px;
    margin-left: 11px;
    line-height: 27px;
}
.accodinmain {
    margin-bottom: 10px;
    width: 100%;
    float: left;
    border-bottom: 2px solid #eef1f7;
    padding-bottom: 11px;
}






























































 /*===========end group  css===========*/
























