.nos-online__chartcard {
    &-container {
      &-chatContainer {
        width: 372px;
        height: 81px;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 0.96;
        border-radius: 15px;
      }
      &-display{
        display: flex;
        flex-direction: row;
        color: white;
        
    }
    }
}