.nos-online__classcard {
    &-root {
      &-containerCard {
        width: 418px;
        height: 106px;
        background: var(--unnamed-color-4d86f4) 0% 0% no-repeat padding-box;
        background: #4D86F4 0% 0% no-repeat padding-box;
        opacity: 0.96;
        border-radius: 15px;
       }
       &-card-display{
           display: flex;
           flex-direction: row;
           color: white;
           padding: 3%;
       }
       &-containerCard1 {
        width: 418px;
        height: 106px;
        background: var(--unnamed-color-4d86f4) 0% 0% no-repeat padding-box;
        background:white;
        opacity: 0.96;
        border-radius: 15px;
       }
       &-card-display1{
        display: flex;
        flex-direction: row;
        color: black;
        padding: 3%;
    }

    }
}