.nos-online__classcard {
    &-root {
      &-containerDashboard{
        width: 1600px;
        height: 789px;
        background: #EDF0F5 0% 0% no-repeat padding-box;
        opacity: 1;
       }
       &-container{
           display: flex;
           flex-direction: row;
       }
       &-schoolCards{
        width: 473px;
        height: 789px;
        background: #F6F9FD 0% 0% no-repeat padding-box;
        border-radius: 0px 30px 0px 0px;
        opacity: 1;
       }
       &-scards {
           margin-top: 5%;
           margin-left: 4%;
       }
       &-chatContainer{
        width: 397px;
        height: 789px;
        background: #F6F9FD 0% 0% no-repeat padding-box;
        opacity: 1;
        margin-left: 45px;
       }
       &-input-field{
        width: 459px;
        height: 40px;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        border: 2px solid var(--unnamed-color-b0bed7);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #B0BED7;
        opacity: 1;
       }
       &-modal-button{
        width: 160px;
        height: 40px;
        background: var(--unnamed-color-4d86f4) 0% 0% no-repeat padding-box;
        background: #4D86F4 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
        color: white;
        float:right;
        border: none;
       }
       &-upload {
        width: 102px;
        height: 36px;
        border: 2px solid var(--unnamed-color-b0bed7);
        background: #F3F5F9 0% 0% no-repeat padding-box;
        border: 2px solid #B0BED7;
        opacity: 1;
        float: right;
        align-content: center;
       }
    }
}