.nos-online__presentation {
    &-root {
      &-containerPresentation{
        width: 1600px;
        height: 789px;
        background: #EDF0F5 0% 0% no-repeat padding-box;
        opacity: 1;
       }
       &-sidebar-display{
           display: flex;
           flex-direction: row;
       }
       &-header-display{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
       &-subContainer{
        margin-top: 30px;
        width: 1351px;
        height: 731px;
        background: #F6F9FD 0% 0% no-repeat padding-box;
        border-radius: 0px 30px 30px 0px;
        opacity: 1;
       }
       &-innerContainer{
        width: 1282px;
        height: 644px;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 6px var(--unnamed-color-dbe2ef);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 6px #DBE2EF;
        border-radius: 15px;
        opacity: 1;
        margin-top: 43px;
        margin-left: 24px;
    }
    &-input-field{
        width: 605px;
        height: 40px;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        border: 2px solid var(--unnamed-color-b0bed7);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #B0BED7;
        opacity: 1;
    }
    &-discription{
        width: 605px;
        height: 80px;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        border: 2px solid var(--unnamed-color-b0bed7);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #B0BED7;
        opacity: 1;
    }
    &-cancel-button{
        width: 129px;
        height: 38px;
        border: 2px solid var(--unnamed-color-dbe2ef);
        background: #F3F5F9 0% 0% no-repeat padding-box;
        border: 2px solid #DBE2EF;
        border-radius: 10px;
        opacity: 1;
    }
    &-next-button{
        width: 129px;
        height: 38px;
        background: var(--unnamed-color-4d86f4) 0% 0% no-repeat padding-box;
        background: #4D86F4 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
        border: none;
        color: white;
        margin-left: 4%;
    }
    &-exam-card{
        width: 791px;
        height: 218px;
        border: 1px solid var(--unnamed-color-bed4ff);
        background: #FBFDFF 0% 0% no-repeat padding-box;
        border: 1px solid #BED4FF;
        opacity: 1;
    }
    &-art-card{
        width: 791px;
        height: 150px;
        border: 1px solid var(--unnamed-color-bed4ff);
        background: #FBFDFF 0% 0% no-repeat padding-box;
        border: 1px solid #BED4FF;
        opacity: 1;
    }
}
}